{% extends 'BerGTimesheetBundle::base.html.twig' %}

{% block main %}
    {% if weeksheets is not empty %}
    <h3>Open Weeksheets:</h3>
    
    {% for weeksheet in weeksheets %}
        <li><a href="{{ path('ber_g_timesheet_weekform', { 'year_id': weeksheet.year, 'week_id': weeksheet.week_id }) }}">{{ weeksheet.start_date|localizeddate('full', 'none', 'pl', 'Europe/Warsaw') }} -- {{ weeksheet.end_date|localizeddate('full', 'none', 'pl', 'Europe/Warsaw') }}</a></li>

    {% endfor %}
    {% else %}
        <p>{{ myexception }}</p>
    
    {% endif %}
{% endblock %}

{% block sidebar %}
    
    
{% endblock %}
