{% extends 'BerGTimesheetBundle::base.html.twig' %}

{% block main %}
    {% if form is not empty %}
        {#{ dump(form) }#}
        
    <h3>My Weeksheet:</h3>
    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_widget(form) }}
        
        {#{ form_row(form.task) }}
        {{ form_row(form.dueDate) }#}
    {{ form_end(form) }}
        
    {#% for weeksheet in weeksheets %}
        <li><a href="
    {{ path('ber_g_timesheet_weekform', { 'year_id': weeksheet.year,
    'week_id': weeksheet.week_id }) }}">
    {{ weeksheet.start_date|localizeddate('full', 'none', 'pl', 'Europe/Warsaw') }}
    -- {{ weeksheet.end_date|localizeddate('full', 'none', 'pl', 'Europe/Warsaw') }}
    </a></li>

    {% endfor %#}
    {% else %}
        <p>{{ myexception }}</p>
    
    {% endif %}
{% endblock %}

{% block sidebar %}
    
    
{% endblock %}
