{# src/BerG/TimesheetBundle/Resources/views/Timesheets/index.html.twig #}
{% extends "::base.html.twig" %}

{% block title %}Timesheets Demo App{% endblock %}

{% block body %}
<h1>Welcome to the Timesheets Home page</h1>

    <p>See open timesheets 
    <a class="btn btn-default" href="{{ path('timesheets', {'mode':'open'}) }}" role="button">Open Timesheets</a>
    </p>
    <p></p>
    <p>Go directly to newest timesheet form</p>
    {#<a class="btn btn-default" href="{{ path('new_timesheet') }}" role="button">Newest Timesheet</a>#}
    <p></p>
    <p>See list of timesheets</p>
    <p></p>
    
    {% if app.user and is_granted('ROLE_MANAGER') %}
        <p>Browse through users</p>
        {#<a class="btn btn-default" href="{{ path('users') }}" role="button">Newest Timesheet</a>#}
        <p>Browse through months</p>
        {# foreach top 10 users/months with newest timesheets#}
    {% endif %}
    
{% endblock %}
