{# src/BerG/TimesheetBundle/Resources/views/Timesheets/open.html.twig #}
{% extends "::base.html.twig" %}

{% block title %}Timesheets Demo App{% endblock %}

{% block body %}
    
    {% if showOpens %}
        <h1>List of open Timesheets</h1>

        {% for open in opens %}
            <p><a href="{{ path('new_timesheet', { 'w': open.week_id}) }}">timesheet for week: {{ open.first_day }} - {{ open.last_day }}</a></p>
        {% else %}
            <p>There are no pending timesheets. Good job!</p>
        {% endfor %}
    {% endif %}

    {% if showClosed %}
        <h1>List of closed Timesheets</h1>
        {% for close in closed %}
            <a href="{{ path('view_timesheet', { 'timesheet_id': close.timesheet_id}) }}">timesheet for week: {{ close.first_day }} - {{ close.last_day }}</a>
        {% else %}
            <p>No closed timesheets to display. You should submit some quickly!</p>
        {% endfor %}
    {% endif %}
    
{% endblock %}
