{% extends "::base.html.twig" %}

{% block title %}BerGTimesheetBundle:Week:create{% endblock %}

{% block body %}
<h1>Welcome to the Week:create page</h1>
{{ form_start(form) }}
    <h3>Rok: {{"now"|date('Y', 'Europe/Warsaw')}}</h3>
    <h3>Miesiąc: {{ "now"|date('n', 'Europe/Warsaw') }} {#{"now"|localizeddate('full', 'none', 'pl', 'Europe/Warsaw')}#}</h3>
    <h3>Numer tygodnia: {{"now"|date('W', 'Europe/Warsaw')}}</h3>
    {#|localizeddate('full', 'none', 'pl', 'Europe/Warsaw')#}
        {{ form_row(form.weekOfYear, {'value': "now"|date('W', 'Europe/Warsaw')}) }}
        {{ form_row(form.year, {'value':"now"|date('Y', 'Europe/Warsaw')}) }}
        {#{ form_row(form.month, {'value':"now"|date('n', 'Europe/Warsaw')}) }#}
    
    <h3>Dni:</h3>
    <ol class="days">
        {% for day in form.days %}
            <li><ul>
            <li>{{ form_row(day.startHour) }}</li>
            <li>{{ form_row(day.endHour) }}</li>
            {#{ form_row(day.month, {'value':"now"|date('n', 'Europe/Warsaw')}) }#}
                </ul></li></br>
        {% endfor %}
    </ol>
{{ form_end(form) }}
{% endblock %}
