{% extends "::base.html.twig" %}

{% block title %}BerGTimesheetBundle:Week:new{% endblock %}

{% block body %}
<h1>Welcome to the Week:</h1>
    {{ form_start(form) }}
        {#{{ form_errors(form) }}#}

        {{ form_widget(form) }}
        
    {{ form_end(form) }}
{% endblock %}
