html,
body {
    margin:0;
    padding:0;
    height:100%;
}
#wrapper {
    min-height:100%;
    position:relative;
}
/*header {
    padding:10px;
}*/
.body-container {
    padding-bottom:100px; /* Height of the footer element */
}
footer {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}